@use "sass:map";

$typography-map: (
  //"label-large-promient": (
  //        "line-height": 20px,
  //        "size": 0.875em,
  //        "letter-spacing": 0.1px,
  //        "weight": 600
  //),
  //"label-large": (
  //        "line-height": 20px,
  //        "size": 0.875em,
  //        "letter-spacing": 0.1px,
  //        "weight": 500
  //),
  //"label-medium-promient": (
  //        "line-height": 16px,
  //        "size": 0.75em,
  //        "letter-spacing": 0.5px,
  //        "weight": 600
  //),
  //"label-medium": (
  //        "line-height": 16px,
  //        "size": 0.75em,
  //        "letter-spacing": 0.5px,
  //        "weight": 500
  //),
  //"title-small": (
  //        "line-height": 20px,
  //        "size": 0.75em,
  //        "letter-spacing": 0.1px,
  //        "weight": 500
  //),
        "body-large": (
                "line-height": 24px,
                "size": 1em,
                "letter-spacing": 0.5px,
                "weight": 400
        ),
        "body-medium": (
                "line-height": 20px,
                "size": 0.875em,
                "letter-spacing": 0.25x,
                "weight": 400
        ),
        "display-large": (
                "line-height": 64px,
                "size": 3.5625em,
                "letter-spacing": -0.25px,
                "weight": 400
        ),
        "display-medium": (
                "line-height": 52px,
                "size": 2.8125em,
                "letter-spacing": 0px,
                "weight": 400
        ),
        "display-small": (
                "line-height": 44px,
                "size": 2.25em,
                "letter-spacing": 0px,
                "weight": 400
        ),
        "title-large": (
                "line-height": 28px,
                "size": 1.375em,
                "letter-spacing": 0px,
                "weight": 400
        ),
        "headline-large": (
                "line-height": 40px,
                "size": 2em,
                "letter-spacing": 0px,
                "weight": 400
        ),
        "headline-medium": (
                "line-height": 36px,
                "size": 1.75em,
                "letter-spacing": 0px,
                "weight": 400
        ),
);

@mixin _apply-font($font-name) {
  $font-map: map.get($typography-map, $font-name);

  font-size: map.get($font-map, "size");
  font-weight: map.get($font-map, "weight");
  letter-spacing: map.get($font-map, "letter-spacing");
  line-height: map.get($font-map, "line-height");
}


//@mixin label-large-promient {
//  @include _apply-font("label-large-promient");
//}
//
//@mixin label-large {
//  @include _apply-font("label-large");
//}
//
//@mixin label-medium-promient {
//  @include _apply-font("label-medium-promient");
//}
//
//@mixin label-medium {
//  @include _apply-font("label-medium");
//}
//
//@mixin title-small {
//  @include _apply-font("title-small");
//}
@mixin body-large {
  @include _apply-font("body-large");
}

@mixin body-medium {
  @include _apply-font("body-medium");
}


@mixin title-large {
  @include _apply-font("title-large");
}


@mixin display-large {
  @include _apply-font("display-large");
}

@mixin display-medium {
  @include _apply-font("display-medium");
}

@mixin display-small {
  @include _apply-font("display-small");
}

@mixin headline-large {
  @include _apply-font("headline-large");
}

@mixin headline-medium {
  @include _apply-font("headline-medium");
}