@use "variables";
@use "../typography";

@mixin tablet() {

  @media (width>=variables.$breakpoint-tablet) {
    .header {
      &__nav {
        grid-column-start: -7;

        ul {
          flex-direction: row;
          gap: 16px;
        }
      }
    }
  }
  @media (width<variables.$breakpoint-tablet) {
    .header {
      margin-top: 0.5rem;

      &__nav {
        height: 100%;
        grid-column-start: -4;

        ul {
          height: 100%;
          margin: 0;
          text-align: end;
          flex-direction: column;

        }
      }
    }

    .text-section {
      &__item-picture {
        grid-column: span 4;
      }

      &.reverse {
        .text-section__item-picture {
          // grid-column-start: calc($half-columns + 2);
          grid-column-end: -1;
        }

        .text-section__item-text {
          grid-column: span 4;
        }
      }
    }

    .divider-section {
      &__button {
        //grid-column: 3 / -3;
      }

      &--footer {
        p {

        }
      }

    }

    .centralised-section {
      &__item {

        &--column {
          //grid-column: 3 / -3;
        }
      }
    }
  }

}