
:root {
  color-scheme: light dark;
  --md-sys-color-primary: light-dark(rgb(45 98 140), rgb(154 203 250));
  --md-sys-color-surface-tint: light-dark(rgb(45 98 140), rgb(154 203 250));
  --md-sys-color-on-primary: light-dark(rgb(255 255 255), rgb(0 51 82));
  --md-sys-color-primary-container: light-dark(rgb(205 229 255), rgb(10 74 114));
  --md-sys-color-on-primary-container: light-dark(rgb(0 29 50), rgb(205 229 255));
  --md-sys-color-secondary: light-dark(rgb(81 96 111), rgb(185 200 218));
  --md-sys-color-on-secondary: light-dark(rgb(255 255 255), rgb(35 50 64));
  --md-sys-color-secondary-container: light-dark(rgb(212 228 246), rgb(57 72 87));
  --md-sys-color-on-secondary-container: light-dark(rgb(13 29 42), rgb(212 228 246));
  --md-sys-color-tertiary: light-dark(rgb(103 88 122), rgb(210 191 231));
  --md-sys-color-on-tertiary: light-dark(rgb(255 255 255), rgb(56 42 73));
  --md-sys-color-tertiary-container: light-dark(rgb(238 220 255), rgb(79 64 97));
  --md-sys-color-on-tertiary-container: light-dark(rgb(34 21 51), rgb(238 220 255));
  --md-sys-color-error: light-dark(rgb(186 26 26), rgb(255 180 171));
  --md-sys-color-on-error: light-dark(rgb(255 255 255), rgb(105 0 5));
  --md-sys-color-error-container: light-dark(rgb(255 218 214), rgb(147 0 10));
  --md-sys-color-on-error-container: light-dark(rgb(65 0 2), rgb(255 218 214));
  --md-sys-color-background: light-dark(rgb(247 249 255), rgb(16 20 24));
  --md-sys-color-on-background: light-dark(rgb(24 28 32), rgb(224 226 232));
  --md-sys-color-surface: light-dark(rgb(247 249 255), rgb(16 20 24));
  --md-sys-color-on-surface: light-dark(rgb(24 28 32), rgb(224 226 232));
  --md-sys-color-surface-variant: light-dark(rgb(222 227 235), rgb(66 71 78));
  --md-sys-color-on-surface-variant: light-dark(rgb(66 71 78), rgb(194 199 207));
  --md-sys-color-outline: light-dark(rgb(114 120 127), rgb(140 145 152));
  --md-sys-color-outline-variant: light-dark(rgb(194 199 207), rgb(66 71 78));
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: light-dark(rgb(45 49 53), rgb(224 226 232));
  --md-sys-color-inverse-on-surface: light-dark(rgb(238 241 246), rgb(45 49 53));
  --md-sys-color-inverse-primary: light-dark(rgb(154 203 250), rgb(45 98 140));
  --md-sys-color-primary-fixed: rgb(205 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 29 50);
  --md-sys-color-primary-fixed-dim: rgb(154 203 250);
  --md-sys-color-on-primary-fixed-variant: light-dark(rgb(10 74 114), rgb(10 74 114));
  --md-sys-color-secondary-fixed: light-dark(rgb(212 228 246), rgb(212 228 246));
  --md-sys-color-on-secondary-fixed: light-dark(rgb(13 29 42), rgb(13 29 42));
  --md-sys-color-secondary-fixed-dim: light-dark(rgb(185 200 218), rgb(185 200 218));
  --md-sys-color-on-secondary-fixed-variant: light-dark(rgb(57 72 87), rgb(57 72 87));
  --md-sys-color-tertiary-fixed: light-dark(rgb(238 220 255), rgb(238 220 255));
  --md-sys-color-on-tertiary-fixed: light-dark(rgb(34 21 51), rgb(34 21 51));
  --md-sys-color-tertiary-fixed-dim: light-dark(rgb(210 191 231), rgb(210 191 231));
  --md-sys-color-on-tertiary-fixed-variant: light-dark(rgb(79 64 97), rgb(79 64 97));
  --md-sys-color-surface-dim: light-dark(rgb(216 218 223), rgb(16 20 24));
  --md-sys-color-surface-bright: light-dark(rgb(247 249 255), rgb(54 57 62));
  --md-sys-color-surface-container-lowest: light-dark(rgb(255 255 255), rgb(11 15 18));
  --md-sys-color-surface-container-low: light-dark(rgb(241 244 249), rgb(24 28 32));
  --md-sys-color-surface-container: light-dark(rgb(236 238 243), rgb(28 32 36));
  --md-sys-color-surface-container-high: light-dark(rgb(230 232 238), rgb(39 42 46));
  --md-sys-color-surface-container-highest: light-dark(rgb(224 226 232), rgb(49 53 57));
}
