@use "scss/typography";
@forward "scss/theme";
@use "scss/defaultStyles/reset";
@use "scss/adaptive/phone";
@use "scss/adaptive/tablet";
@use "scss/adaptive/variables";
@use "scss/elements";
@use "scss/mixins";
@use 'sass:math';
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

$breakpoint-tablet: variables.$breakpoint-tablet;
$breakpoint-phone: variables.$breakpoint-phone;
$breakpoint-content: variables.$breakpoint-content;

$spacing-min: 16px;
$spacing-max: 32px;
$offset-max: 100px;

$content-column-size: math.div($breakpoint-content - 11 * $spacing-max, 12);

$breakpoint-content-min: $breakpoint-content + $spacing-max * 2;
$breakpoint-content-max: $breakpoint-content-min + $offset-max * 2;

$half-columns: variables.$half-columns;

@mixin sub-grid($grid-column) {
  @include mixins.sub-grid($grid-column);
}


@layer main, tablet, phone, defaultStyles;

@layer defaultStyles {
  @include reset.init;
}

@layer tablet {
  @include tablet.tablet;
}

@layer phone {
  @include phone.phone;
}

body {
  --offset: 0px;
  --columns: 4;
  --spacing: #{$spacing-min};
  --column-size: 1fr;
  background-color: var(--md-sys-color-background);
  display: grid;
  grid-template-columns: [container-start] var(--offset) [content-start] repeat(var(--columns), var(--column-size)) [content-end] var(--offset) [container-end];
  column-gap: var(--spacing);
  @media(min-width: $breakpoint-phone) {
    --columns: 8;
    --spacing: #{$spacing-max};
  }

  @media(min-width: $breakpoint-tablet) {
    --columns: 12;
    --navigation-column-start: 9;
  }

  @media(min-width: $breakpoint-content-min) {
    --offset: 1fr;
    --column-size: #{$content-column-size};
  }

  @media(min-width: $breakpoint-content-max) {
    //  --offset: auto;
    // --offset: #{$offset-max};
    --column-size: #{$content-column-size}; //1fr
  }
}


@layer main {
  .main-container {
    @include sub-grid(container);
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    max-width: 1440px;

    background-color: var(--md-sys-color-background);
  }

  .hero-section {
    @include elements.hero-section;
  }

  .header {
    @include elements.header;
  }

  .text-section {
    @include elements.text-section;
  }

  .divider-section {
    @include elements.divider-section;
  }

  .centralised-section {
    @include elements.centralised-section;

  }

  .section {
    @include elements.section;
  }

  .picture {
    @include elements.picture;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' var(--icon-fill, 0),
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

    .navigation-list__button.active & {
      --icon-fill: 1;
    }

    transition: font-variation-settings 0.3s;
  }
}

.button {
  @include elements.button;
}

.content {
  @include sub-grid(content);
}
