@use "scss/typography";
@forward "scss/theme";
@use "scss/adaptive/phone";
@use "scss/adaptive/tablet";
@use "scss/adaptive/variables";
@use 'sass:math';
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

$breakpoint-tablet: variables.$breakpoint-tablet;
$breakpoint-phone: variables.$breakpoint-phone;
$breakpoint-content: 1128px; // 1440 - 156 * 2;

$spacing-min: 16px;
$spacing-max: 32px;
$offset-max: 100px;

$content-column-size: math.div($breakpoint-content - 11 * $spacing-max, 12);

$breakpoint-content-min: $breakpoint-content + $spacing-max * 2;
$breakpoint-content-max: $breakpoint-content-min + $offset-max * 2;

$half-columns: calc(var(--columns) / 2);

@mixin sub-grid($grid-column) {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: $grid-column;
}

//@mixin beforeForHover() {
//  content: '';
//  position: absolute;
//  inset: 0;
//  opacity: var(--_state-layer-opacity, 0);
//  background-color: currentColor;
//  z-index: -1;
//  transition: 0.3s opacity;
//  border-radius: inherit;
//}

html, body {
  margin: 0;
}

@layer main, tablet, phone;

@layer tablet {
  @include tablet.tablet;
}

@layer phone {
  @include phone.phone;
}

body {
  --offset: 0px;
  --columns: 4;
  --spacing: #{$spacing-min};
  --column-size: 1fr;
  font-family: "Roboto", sans-serif;
  min-height: 100dvh;
  background-color: var(--md-sys-color-background);
  display: grid;
  grid-template-columns: [container-start] var(--offset) [content-start] repeat(var(--columns), var(--column-size)) [content-end] var(--offset) [container-end];
  min-width: 340px;
  column-gap: var(--spacing);
  /* 16px → 20px */
  //font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  @media(min-width: $breakpoint-phone) {
    --columns: 8;
    --spacing: #{$spacing-max};
  }

  @media(min-width: $breakpoint-tablet) {
    --columns: 12;
    --navigation-column-start: 9;
  }

  @media(min-width: $breakpoint-content-min) {
    --offset: 1fr;
    --column-size: #{$content-column-size};
  }

  @media(min-width: $breakpoint-content-max) {
    //  --offset: auto;
    // --offset: #{$offset-max};
    --column-size: #{$content-column-size}; //1fr
  }
}

* {
  box-sizing: border-box;
}


@layer main {
  .main-container {
    @include sub-grid(container);
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    max-width: 1440px;

    background-color: var(--md-sys-color-background);
  }

  .hero-section {
    height: 100dvh;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    color: var(--md-sys-color-on-primary);
    background-color: darkslateblue;

    &__wrapper {
      @include sub-grid(content);
    }

    &__info {
      grid-column: span $half-columns;

      &__button {
        margin-top: 112px;
        width: 100%;
      }
    }

    &__description {
      &__name {
        @include typography.display-large;
        margin-block: 16px;
      }

      &__about {
        @include typography.headline-large;
      }
    }
  }

  .header {
    display: grid;
    align-items: center;
    height: 100px;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    color: var(--md-sys-color-on-primary);

    &__logo {
      height: 48px;
      grid-column: span 2;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &__nav {

      grid-column-end: -1;

      @include typography.title-large;

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        //flex-direction: row;
        justify-content: space-between;

      }


    }
  }

  .text-section {
    @extend .section;

    &__item-picture {
      grid-column: span 5;
    }

    &__item-text {
      grid-column-start: calc($half-columns + 1);
      grid-column-end: -1;

      &--inline {
        grid-column: span $half-columns;
      }

      h3 {
        color: var(--md-sys-color-primary);
        @include typography.headline-medium;
        margin-top: 0;
      }

      p {
        color: var(--md-sys-color-on-surface);
        margin-bottom: 0;
      }
    }

    &.reverse {
      .text-section__item-picture {
        grid-column-start: calc($half-columns + 2);
        grid-column-end: -1;
      }

      .text-section__item-text {
        grid-column: span 6;
      }
    }
  }

  .divider-section {
    @extend .section;
    place-items: center;
    background-color: var(--md-sys-color-inverse-surface);
    height: 200px;


    &__text {
      @include typography.display-medium;
      color: var(--md-sys-color-inverse-on-surface);
      grid-column: 1/-1;
      margin: 0;
    }

    &__button {
      grid-column: calc($half-columns - 1) / calc(-1 * ($half-columns - 1))
    }

    &--between-sections {
      background-color: var(--md-sys-color-surface-variant);

      p {
        grid-column-start: $half-columns;
        @include typography.body-large;
        color: var(--md-sys-color-on-surface-variant);
      }
    }

    &--footer {
      grid-auto-rows: min-content;
      height: 155px;
      place-content: center;

      p {
        width: 100%;
        text-align: start;
        grid-column: -6/-1;
        color: var(--md-sys-color-inverse-on-surface);
        @include typography.body-medium;
        margin: 0;
      }
    }
  }

  .centralised-section {
    @extend .section;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    text-align: center;
    place-items: center;

    &__item {
      grid-column: 1/-1;
      width: 100%;

      &--text {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h4, h3, h2 {
          margin: 0;
        }

        h4 {
          @include typography.display-small;
        }

        h3 {
          @include typography.display-medium;
        }

        h2 {
          @include typography.display-large;
        }
      }

      &--column {
        grid-column: calc($half-columns - 1 )/calc(-1 * ($half-columns - 1 ));

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    &--big {
      height: 455px;
    }

  }

  .section {

    padding-block: 100px;
    @include sub-grid(content);

    &.divider-section {
      padding: 0;
    }

    &--no-padding {
      padding: 0;
    }

    &--wide {
      @include sub-grid(container);
    }

    &--composed {
      background-color: var(--md-sys-color-secondary-container);
      @include sub-grid(container);
      grid-auto-flow: row;
      grid-auto-rows: min-content;
      row-gap: 50px;

      & .text-section {
        padding: 0;
      }

    }
  }

  .picture {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 16px;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' var(--icon-fill, 0),
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

    .navigation-list__button.active & {
      --icon-fill: 1;
    }

    transition: font-variation-settings 0.3s;
  }
}

.button {
  background-color: var(--md-sys-color-primary);
  border-radius: 16px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
  text-align: center;
  height: 100px;
  cursor: pointer;
  border: none;
  padding: 0;
  @include typography.display-medium;
  position: relative;
  isolation: isolate;
  width: 100%;
  --_state-layer-opacity: 0;

  &:hover {
    --_state-layer-opacity: .08;
  }

  &::before {
    content: '';
    background-color: var(--md-sys-color-on-primary);; //currentColor;
    border-radius: inherit;
    position: absolute;
    z-index: -1;
    inset: 0;
    transition: opacity 0.3s;
    opacity: var(--_state-layer-opacity);
  }
}


p {
  text-wrap: pretty;
}